
@model Leega.Dtos.ListaPacientes


<br />

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>NQS</title>
    <style>
        .pagination {
            display: inline-block;
            float: left;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;                                
            }
    </style>

</head>

<form asp-controller="cadastro" asp-action="pacienteObter" method="post">
    @*<table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Documento Identificador</th>
                    <th>Data Nascimento</th>
                    <th>Celular</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td >@item.NomeCompleto</td>
                    <td>@item.DocumentoIdentificacao</td>
                    <td>@item.DataNascimento</td>
                    <td>@item.Celular</td>
                    </tr>

                }
            </tbody>
        </table>*@

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-heading list-panel-heading">
                    <h1 class="panel-title list-panel-title">Assets</h1>
                </div>

                <div class="panel-body">
                    <div class="col-sm-12 py-3">
                        <h4 class="title">Cadastro de Paciente</h4>
                        <div class="row justify-content-sm-between">
                        </div>
                    </div>

                    <table id="assets-data-table" class="table table-striped table-bordered" style="width:95%" align="center">
                        <thead>
                            <tr>
                                <th>Nome Completo</th>
                                <th>Documento Identificador</th>
                                <th>Data Nascimento</th>
                                <th>Celular</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Leega.Dtos.Paciente item in Model.Paciente)
                            {
                                <tr>
                                    <td><a data-value="@item.Id" id="actionId" onclick="Clickfn('@item.Id')">@item.NomeCompleto</a></td>
                                    <td>@item.DocumentoIdentificacao</td>
                                    <td>@item.DataNascimento</td>
                                    <td>@item.Celular</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <div class="panel-body">

                    </div>
                    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
                </div>
            </div>
        </div>
    </div>
    <div class="pagination" >
        <div></div>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            @if (i != Model.CurrentPageIndex)
            {
                <a href="javascript:PagerClick(@i);">@i</a>
            }
            else
            {
                @i
            }
        }
    </div>
    <br />


</form>
<script>
        function Clickfn(id) {

        var url = '@Url.Action("PacienteEditar", "Cadastro", new {id = -1})'; //Generate URL string using razor
        window.location.href = url.replace('-1', id); //replace ID value
    }

    function PagerClick(index) {

        var url = '@Url.Action("PacienteLista", "Cadastro", new { currentPage = -1})'; //Generate URL string using razor
        window.location.href = url.replace('-1', index); //replace ID value
    }
</script>
