@model Leega.Dtos.Doacao

<div style="background:url(/assets/img/home_bg.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;">
    <div class="container-fluid px-0 opaque80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-3 p-3">
                    <h2>
                        SEJA O SEU <strong>MELHOR</strong>.
                        SEJA <strong>ALTRUS</strong>!
                    </h2>
                </div>
                <div class="col-lg-6 col-xl-5">
                    <p class="text-white">Apresentamos causas previamente certificadas para você ajudar com segurança.</p>
                </div>
            </div>
        </div>
        <form asp-action="create" asp-controller="doacao" method="get">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-white">Veja aqui, quais causas você quer apoiar:</p>
                    </div>
                </div>
                <div class="row align-items-center border rounded my-2">
                    @for (var item = 0; item < Model.campanhas.Count; item++)
                {
                    <div class="col-sm-1 text-center">
                        <a href="javascript:Remove(@Model.campanhas[item].campanhaid);" class="cause-item-item-delete" data-campanhaid="@Model.campanhas[item].campanhaid">X</a>
                    </div>
                    <div class="col-sm-9">
                        <div class="cause-item-label">
                            <p class="cause-item-item-title m-0 text-white">@Model.campanhas[item].nome - @Model.campanhas[item].beneficiario</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <input type="hidden" asp-for="@Model.campanhas[item].campanha.valorminimo" value="@Model.campanhas[item].campanha.valorminimo" />
                        <input type="text" class="cause-item-item-price"
                               asp-for="@Model.campanhas[item].valor"
                               value="@Model.campanhas[item].valor"
                               data-campanhaid="@Model.campanhas[item].campanhaid"
                               data-inputmask-alias="currency"
                               data-rule-min="@Model.campanhas[item].campanha.valorminimo"
                               data-msg-min="Por favor, forneça um valor maior ou igual a R$ {0}."
                               onchange="Change(this);" />
                        <span asp-validation-for="@Model.campanhas[item].valor" class="text-white"></span>
                    </div>
                }
                </div>

                <div class="row">
                    <div class="col-sm-12 p-3 border rounded">
                        <div class="row align-items-center">
                            <div class="col-sm-5">
                                <label class="text-white">Desejo repetir esta doação durante ( meses )</label>
                            </div>
                            <div class="col-sm-1">
                                <input type="text" asp-for="@Model.recorrencia" data-inputmask-alias="numeric" data-input-mask-placeholder="00" />
                            </div>
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-2">
                                <label class="text-white">Valor total</label>
                            </div>
                            <div class="col-sm-2">
                                <input type="hidden" asp-for="@Model.valor" value="@Model.valor" data-inputmask-alias="currency" />
                                <input type="text" value="@Model.valortotal" data-inputmask-alias="currency" readonly />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-sm-5">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" class='btn btn-whiteontranparent' @(Model.campanhas.Count == 0 ? "disabled": "") value="FAZER DOAÇÃO!" />
                    </div>
                    <div class="col-sm-3">
                        <a asp-controller="home" asp-action="causas"><input type="button" class='btn btn-whiteontranparent' value="INCLUIR MAIS CAUSAS" /></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $("#recorrencia").on("change", function () {
        $.ajax({
            async: false,
            type: 'post',
            url: '/basket/setrecurrence',
            data: { recurrence: $("#recorrencia").val() },
            success: function () {
                document.location.reload();
            }
        });
    });

    function Change(obj) {
        if (!$('form').valid()) {
            return;
        }

        $.ajax({
            async: false,
            type: 'post',
            url: '/basket/change',
            data: {
                campanhaid: $(obj).data('campanhaid'),
                valor: $(obj).val()
            },
            success: function () {
                document.location.reload();
            }
        });
    }

    function Remove(id) {
        $.ajax({
            async: false,
            type: 'post',
            url: '/basket/remove',
            data: { campanhaid: id },
            success: function () {
                document.location.reload();
            }
        });
    }
</script>
