@model List<Leega.Dtos.Campanha>

@section Scripts
{
    <script src="@Url.Content("/assets/js/causes.js")"></script>
    <script src="@Url.Content("/assets/js/main.js")"></script>
}

<section id="causes" class="home px-0 p-0"
         style="background:url(/assets/img/home_bg.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;">

    <!-- causas__bg_home -->
    <div class="container-fluid px-0 h-100 causas__bg_home" style="background-color: rgba(0, 80, 138, 0.8);">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 col-xl-4">
                    <h2>
                        SEJA O SEU <strong>MELHOR</strong>.
                        SEJA <strong>ALTRUS</strong>!
                    </h2>
                </div>
                <div class="col-lg-6 col-xl-5">
                    <p>Apresentamos causas previamente certificadas para você ajudar com segurança.</p>
                </div>
            </div>
        </div>
        <!-- Causas Lista -->
        <div id="causes-list" class="container py-5 py-xl-3 px-0">
            <div id="cause-item-container" class="owl-carousel">
                @foreach (var causa in Model)
                {
                <div class="causa__owl-item col">
                    <div id="causa_@causa.id" class="cause-item-box" data-campanhaid="@causa.id" data-nome="@causa.nome" data-beneficiario="@causa.beneficiario" data-valorminimo="@causa.valorminimo">
                        <div class="cause-item-box-wrap">
                            <div class="cause-item-column h-100">
                                <span class="box__span">nova</span>
                                <div class="cause-item-img-box">
                                    @if (causa.imagem != null)
                                        {
                                    <img class="cause-item-img img-fluid" src="https://altruswebassets.blob.core.windows.net/campanhas/@causa.imagem">
                                        }
                                </div>
                                <div class="cause-item-info">
                                    <h5 class="cause-item-name">@causa.nome</h5>
                                    <p>
                                        @causa.nome
                                    </p>
                                </div>
                                <div class="cause-item-button">
                                    <a href="/causa/detalhe/@causa.id" target="_blank"><span class="action__btn--view"></span></a>
                                    <a id="link-modal-cart" href="#bd-cart-lg-causes" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#bd-cart-lg-causes"><span class="action__btn--doar">DOAR!</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="container py-sm-3">
            <div class="row justify-content-center pb-5">
                <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                    <input data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#bd-cart-lg-causes"
                           class="causas__btn_action doar" type="button" value="QUERO DOAR!" disabled>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                    <a asp-action="dashboard" asp-controller="home"><input type="button" class="causas__btn_action active" value="VER TODAS AS CAUSAS" /></a>
                </div>
            </div>
        </div>
        <!-- End Causas Lista -->

    </div><!-- End causas__bg_home -->
</section><!-- End Causas Section -->
<main id="main">
    <section id="busca-por-categoria">
        <div class="container">
            <h5 class="title mb-4">
                Busque por categoria
            </h5>
        </div>
        <div id="objetivos" class="container pl-lg-4">
            <div class="row">


                <div class="objetivo-item col mt-2">
                    <!-- Default inline 2-->
                    <div class="custom-control p-0 d-flex align-items-center custom-control p-0-inline m-0">
                        <input type="checkbox" id="objetivo_01" name="objetivo_01" />
                        <label for="objetivo_01" class="check-title"><img src="/assets/img/objetivos/01.png" alt=""></label>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ======= Causas Section ======= -->
    <section id="causes" class="dashboard">
        <div class="container py-3">
            <div class="row">
                <div class="col-sm-8 mb-3 mb-sm-0 text-center text-sm-left">
                    <h5 class="title">
                        Doar nunca foi tão fácil e seguro
                    </h5>
                </div>
                <div class="col-sm-4 text-center text-sm-right">
                    <a href="causas.html">ver todas as causas</a>
                </div>
            </div>
        </div>
    </section><!-- End Causas Section -->
</main><!-- End #main -->
