@model List<Leega.Dtos.Campanha>

@section Scripts
{
    <script src="@Url.Content("/assets/js/causes.js")"></script>
}

<div id="causes" style="height: fit-content;">
    <div style="background:url(/assets/img/home_bg.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;">

        <div class="container-fluid px-0 h-100 opaque80">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <h2>
                            SEJA O SEU <strong>MELHOR</strong>.
                            SEJA <strong>ALTRUS</strong>!
                        </h2>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <p class="text-white">Apresentamos causas certificadas para você ajudar com segurança. Conheça campanhas inspiradoras e ajude em poucos cliques.</p>
                    </div>
                </div>
            </div>

            <div id="causes-list" class="container py-5 py-xl-3 px-0">
                <div id="cause-item-container" class="owl-carousel">
                    @foreach (var causa in Model)
                    {
                        <div class="causa__owl-item col">
                            <div id="causa_@causa.id" class="cause-item-box" data-campanhaid="@causa.id" data-nome="@causa.nome" data-beneficiario="@causa.beneficiario" data-valorminimo="@causa.valorminimo">
                                <div class="cause-item-box-wrap">
                                    <div class="cause-item-column h-100">
                                        <span class="box__span">nova</span>
                                        <div class="cause-item-img-box">
                                            @if (causa.imagem != null)
                                            {
                                                <img class="cause-item-img img-fluid" src="https://altruswebassets.blob.core.windows.net/campanhas/@causa.imagem">
                                            }
                                        </div>
                                        <div class="cause-item-info">
                                            <h5 class="cause-item-name">@causa.nome</h5>
                                        </div>
                                        <div class="cause-item-button">
                                            <a href="/causa/@causa.url" target="_blank"><span class="action__btn--view"></span></a>
                                            <a id="link-modal-cart" asp-action="index" asp-controller="basket" data-keyboard="false"><span class="action__btn--doar">DOAR!</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="container py-sm-3">
                <div class="row justify-content-center pb-5">
                    <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                        <a asp-action="index" asp-controller="basket"><input id="btnDoar" data-keyboard="false" class="btn btn-whiteontranparent" type="button" value="QUERO DOAR!"></a>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                        <a asp-action="causas" asp-controller="home"><input type="button" class="btn btn-whiteontranparent" value="VER TODAS AS CAUSAS" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    buildCauseCarousel();
</script>
